<div class="dashboard">
    <h1 class="container-title">Document Dashboard</h1>
    <div class="container-card card">
        <h2>Summary</h2>

        <div class="dashboard-cards-row">
            <div class="card program">
                <h3>12</h3>
                <span>Total Programs</span>
            </div>
            <div class="card document">
                <h3>50</h3>
                <span>Total Documents</span>
            </div>
            <div class="card review">
                <h3>40</h3>
                <span>Total Reviewed Documents</span>
            </div>
            <div class="card unreview">
                <h3>10</h3>
                <span>Total Un-Reviewed Documents</span>
            </div>
        </div>

        <table>
            <thead>
                <tr>
                    <th>
                        Program
                    </th>
                    <th>
                        Total Documents
                    </th>
                    <th>
                        Reviewed Documents
                    </th>
                    <th>
                        Un-Reviewed Documents
                    </th>
                    <th>
                        Action
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <a routerLink="[/]">Program A</a>
                    </td>
                    <td>
                        30
                    </td>
                    <td>
                        25
                    </td>
                    <td>
                        <a routerLink="[/]">5</a>
                    </td>
                    <td>
                        <button class="table-action-btn">Details</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a routerLink="[/]">Program A</a>
                    </td>
                    <td>
                        20
                    </td>
                    <td>
                        15
                    </td>
                    <td>
                        <a routerLink="[/]">5</a>
                    </td>
                    <td>
                        <button class="table-action-btn">Details</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a routerLink="[/]">Program A</a>
                    </td>
                    <td>
                        0
                    </td>
                    <td>
                        0
                    </td>
                    <td>
                        <a routerLink="[/]">5</a>
                    </td>
                    <td>
                        <button class="table-action-btn">Details</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a routerLink="[/]">Program A</a>
                    </td>
                    <td>
                        0
                    </td>
                    <td>
                        0
                    </td>
                    <td>
                        <a routerLink="[/]">5</a>
                    </td>
                    <td>
                        <button class="table-action-btn">Details</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a routerLink="[/]">Program A</a>
                    </td>
                    <td>
                        0
                    </td>
                    <td>
                        0
                    </td>
                    <td>
                        <a routerLink="[/]">5</a>
                    </td>
                    <td>
                        <button class="table-action-btn">Details</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a routerLink="[/]">Program A</a>
                    </td>
                    <td>
                        0
                    </td>
                    <td>
                        0
                    </td>
                    <td>
                        <a routerLink="[/]">5</a>
                    </td>
                    <td>
                        <button class="table-action-btn">Details</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a routerLink="[/]">Program A</a>
                    </td>
                    <td>
                        0
                    </td>
                    <td>
                        0
                    </td>
                    <td>
                        <a routerLink="[/]">5</a>
                    </td>
                    <td>
                        <button class="table-action-btn">Details</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a routerLink="[/]">Program A</a>
                    </td>
                    <td>
                        0
                    </td>
                    <td>
                        0
                    </td>
                    <td>
                        <a routerLink="[/]">5</a>
                    </td>
                    <td>
                        <button class="table-action-btn">Details</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a routerLink="[/]">Program A</a>
                    </td>
                    <td>
                        0
                    </td>
                    <td>
                        0
                    </td>
                    <td>
                        <a routerLink="[/]">5</a>
                    </td>
                    <td>
                        <button class="table-action-btn">Details</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a routerLink="[/]">Program A</a>
                    </td>
                    <td>
                        0
                    </td>
                    <td>
                        0
                    </td>
                    <td>
                        <a routerLink="[/]">5</a>
                    </td>
                    <td>
                        <button class="table-action-btn">Details</button>
                    </td>
                </tr>
                
            </tbody>
        </table>
    </div>
</div>
