<br><br><br><br><h1>Table</h1>
<table>
    <thead>
        <tr>
            <th>
                Program
            </th>
            <th>
                Total Documents
            </th>
            <th>
                Reviewed Documents
            </th>
            <th>
                Un-Reviewed Documents
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <a routerLink="[/]">Program A</a>
            </td>
            <td>
                30
            </td>
            <td>
                25
            </td>
            <td>
                <a routerLink="[/]">5</a>
            </td>
            <td>
                <button class="table-action-btn">Details</button>
            </td>
        </tr>
        <tr>
            <td>
                <a routerLink="[/]">Program A</a>
            </td>
            <td>
                30
            </td>
            <td>
                25
            </td>
            <td>
                <a routerLink="[/]">5</a>
            </td>
            <td>
                <button class="table-action-btn">Details</button>
            </td>
        </tr>
        <tr>
            <td>
                <a routerLink="[/]">Program A</a>
            </td>
            <td>
                30
            </td>
            <td>
                25
            </td>
            <td>
                <a routerLink="[/]">5</a>
            </td>
            <td>
                <button class="table-action-btn">Details</button>
            </td>
        </tr>
        <tr>
            <td>
                <a routerLink="[/]">Program A</a>
            </td>
            <td>
                30
            </td>
            <td>
                25
            </td>
            <td>
                <a routerLink="[/]">5</a>
            </td>
            <td>
                <button class="table-action-btn">Details</button>
            </td>
        </tr>
        <tr>
            <td>
                <a routerLink="[/]">Program A</a>
            </td>
            <td>
                30
            </td>
            <td>
                25
            </td>
            <td>
                <a routerLink="[/]">5</a>
            </td>
            <td>
                <button class="table-action-btn">Details</button>
            </td>
        </tr>
        <tr>
            <td>
                <a routerLink="[/]">Program A</a>
            </td>
            <td>
                30
            </td>
            <td>
                25
            </td>
            <td>
                <a routerLink="[/]">5</a>
            </td>
            <td>
                <button class="table-action-btn">Details</button>
            </td>
        </tr>
        <tr>
            <td>
                <a routerLink="[/]">Program A</a>
            </td>
            <td>
                30
            </td>
            <td>
                25
            </td>
            <td>
                <a routerLink="[/]">5</a>
            </td>
            <td>
                <button class="table-action-btn">Details</button>
            </td>
        </tr>
        <tr>
            <td>
                <a routerLink="[/]">Program A</a>
            </td>
            <td>
                30
            </td>
            <td>
                25
            </td>
            <td>
                <a routerLink="[/]">5</a>
            </td>
            <td>
                <button class="table-action-btn">Details</button>
            </td>
        </tr>
    </tbody>
</table>