button {

    cursor: pointer;
    border: 0px;
    background-color: transparent;
    border-radius: 4px;

    &.submit {
        min-width: 380px;
        height: 64px;
        background-color: $purple;
        font-weight: 500;
        font-size: 24px;
        line-height: 64px;
        color: $white;
        border: 0px;

        &:hover {
            background-color: $purple-dark;
        }
    }

    &.table-action-btn {
        border: 1px solid $gray-2;
        color: $text-color-1;
        font-weight: 500;
        font-size: 14px;
        line-height: 22px;
        padding: 2px 14px;

        &:hover {
            background-color: $light-blue;
        }
    }

    &.filter-clear {
        height: 39px;
        min-width: 111px;
        margin-top: 26px;
        line-height: 39px;
        font-size: 16px;
        background-color: $gray-6;
        color: $white;
    }

    &.btn-find{
        background: #FFFFFF;
        border: 1px solid #4556ED;
        border-radius: 4px;
        padding: 15px 20px;
        color: #4556ED;
    }

    &.btn-secondary{
        background: $purple;
        border-radius: 4px;
        padding: 15px 20px;
        color: $white;
    }
}