.card{
    background: $white;
    border: 1px solid $gray-5;
    box-shadow: 1px 5px 5px 3px $shadow;
    border-radius: 6px;
    min-width: 242px;
    min-height: 285px;
    margin: 50px;
    border-radius: 6px;
}