$header: #0F135A;

$white: #ffffff;
$black: #000000;
$gray-1: #B8B8B8;
$gray-2: #BEC1DA;
$gray-3: #F7F9FC;
$gray-4: #EEEEEE;
$gray-5: #EDEDED;
$purple: #A330D3;
$purple-dark: #861cb2;
$dark-color-2: #8A99AF;
$dark-color-1: #DEE4EE;
$dark-color-3: #4F4F4F;
$secondary: #80CAEE;
$text-color: #64748B;
$text-color-1:#7476A3;
$green: #10B981;
$yellow: #F0950C;
$gray: #EFF4FB;
$red: #FB5454;
$blue: #2D9CDB;
$light-blue: #DFF7FF;
$blue-1:#2A57BF;
$dark-color-4: #464646;
$gray-6:#C0C0C0;
$light-green:#F4FFF9;


$shadow: rgba(0, 0, 0, 0.07);
