.message-box{
    .msg{
        background-color: $light-green;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        padding: 20px;
        border: 1px solid #C0C0C0;

    }
}