<div class="main-container">
    <app-header></app-header>
    <div class="content-wrapper">
        <app-sidebar></app-sidebar>
        <div class="content-area">
            
            <div class="dashboard">
                <h1 class="container-title">Document Dashboard: Selected Program</h1>
                <div class="container-card card">
                    <h2>List of Program A</h2>
            
                    <table>
                        <thead>
                            <tr>
                                <th>
                                    Program
                                </th>
                                <th>
                                    Total Documents
                                </th>
                                <th>
                                    Reviewed Documents
                                </th>
                                <th>
                                    Un-Reviewed Documents
                                </th>
                                <th>
                                    Action
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <a routerLink="[/]">Program A</a>
                                </td>
                                <td>
                                    30
                                </td>
                                <td>
                                    25
                                </td>
                                <td>
                                    <a routerLink="[/]">5</a>
                                </td>
                                <td>
                                    <button class="table-action-btn">Details</button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a routerLink="[/]">Program A</a>
                                </td>
                                <td>
                                    20
                                </td>
                                <td>
                                    15
                                </td>
                                <td>
                                    <a routerLink="[/]">5</a>
                                </td>
                                <td>
                                    <button class="table-action-btn">Details</button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a routerLink="[/]">Program A</a>
                                </td>
                                <td>
                                    0
                                </td>
                                <td>
                                    0
                                </td>
                                <td>
                                    <a routerLink="[/]">5</a>
                                </td>
                                <td>
                                    <button class="table-action-btn">Details</button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a routerLink="[/]">Program A</a>
                                </td>
                                <td>
                                    0
                                </td>
                                <td>
                                    0
                                </td>
                                <td>
                                    <a routerLink="[/]">5</a>
                                </td>
                                <td>
                                    <button class="table-action-btn">Details</button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a routerLink="[/]">Program A</a>
                                </td>
                                <td>
                                    0
                                </td>
                                <td>
                                    0
                                </td>
                                <td>
                                    <a routerLink="[/]">5</a>
                                </td>
                                <td>
                                    <button class="table-action-btn">Details</button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a routerLink="[/]">Program A</a>
                                </td>
                                <td>
                                    0
                                </td>
                                <td>
                                    0
                                </td>
                                <td>
                                    <a routerLink="[/]">5</a>
                                </td>
                                <td>
                                    <button class="table-action-btn">Details</button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a routerLink="[/]">Program A</a>
                                </td>
                                <td>
                                    0
                                </td>
                                <td>
                                    0
                                </td>
                                <td>
                                    <a routerLink="[/]">5</a>
                                </td>
                                <td>
                                    <button class="table-action-btn">Details</button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a routerLink="[/]">Program A</a>
                                </td>
                                <td>
                                    0
                                </td>
                                <td>
                                    0
                                </td>
                                <td>
                                    <a routerLink="[/]">5</a>
                                </td>
                                <td>
                                    <button class="table-action-btn">Details</button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a routerLink="[/]">Program A</a>
                                </td>
                                <td>
                                    0
                                </td>
                                <td>
                                    0
                                </td>
                                <td>
                                    <a routerLink="[/]">5</a>
                                </td>
                                <td>
                                    <button class="table-action-btn">Details</button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a routerLink="[/]">Program A</a>
                                </td>
                                <td>
                                    0
                                </td>
                                <td>
                                    0
                                </td>
                                <td>
                                    <a routerLink="[/]">5</a>
                                </td>
                                <td>
                                    <button class="table-action-btn">Details</button>
                                </td>
                            </tr>
                            
                        </tbody>
                    </table>
                </div>
            </div>            

            <div class="function-title">Function(s): Details of a selected program</div>
        </div>
    </div>

</div>